<div id="page-wrapper">
	<div id="banner">
		<img class="landing-image"
			src="resources/images/Optimized-enterprise-banner.jpeg" />
	</div>
	<!-- Main -->
	<article id="main">
		<header class="special container text-center bottom-boarder">
			<h2>What is your community impact?</h2>
			<div class="voffset5">
				<a ui-sref="signup.userBase" class="button special"><span class="button-special-text">Start My Impact</span></a>
			</div>
		</header>

		<section class="wrapper style3 container special bottom-boarder">

			<header class="major">
				<h2>Why Paladin?</h2>
			</header>
			<div class="row">
				<div class="col-md-6">
					<div class="info-box">
						<div class="opaque-image-wrap">
							<img src="resources/images/time.jpeg" alt="" />
						</div>
					<div class="info-box-inner">
						<header>
							<h2 class="voffset4">Save Time</h2>
						</header>
						<p class="voffset4">Let us find you great pro bono
							opportunities</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="info-box">
					<div class="opaque-image-wrap">
						<img src="resources/images/track.jpeg" alt="" />
					</div>
					
					<div class="info-box-inner">
						<header>
							<h2 class="voffset4">Track</h2>
						</header>
						<p class="voffset4">Track data, stories, and outcomes with our
							easy admin dashboard</p>
					</div>
				</div>
			</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="info-box">
			<div class="opaque-image-wrap">
				<img src="resources/images/marketing.jpeg" alt="" />
			</div>
			<div class="info-box-inner">
				<header>
					<h2 class="voffset4">Marketing</h2>
				</header>
				<p class="voffset4">Easily gather authentic success stories</p>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="info-box">
			<div class="opaque-image-wrap">
				<img src="resources/images/performance.jpg" alt="" />
			</div>
			<div class="info-box-inner">
				<header>
					<h2 class="voffset4">Performance</h2>
				</header>
				<p class="voffset4">Encourage skill-building and hands-on
					experience</p>
			</div>
		</div>
	</div>
</div>
</section>

<section class="wrapper style1 container special">
	<header class="major">
		<h2>How Paladin works</h2>
	</header>
	<div class="row">
		<div class="col-md-4 subsection">
			<span class="icon featured fa-check"></span>
			<header>
				<h3>Engage</h3>
			</header>
			<div class="infographic">
				<img src="resources/images/ConnectPartnerEngage.svg" alt="" />
			</div>
			<p>Your attorneys receive personalized pro bono</p>
		</div>
		<div class="col-md-4 subsection">
			<span class="icon featured fa-check"></span>
			<header>
				<h3>Track</h3>
			</header>
			<div class="infographic">
				<img src="resources/images/Track.svg" alt="" />
			</div>
			<p>Track engagement and success through the admin dashboard</p>
		</div>
		<div class="col-md-4 subsection">
			<span class="icon featured fa-check"></span>
			<header>
				<h3>Boost</h3>
			</header>
			<div class="infographic">
				<img src="resources/images/boost.svg" alt="" />
			</div>
			<p>Share impressive content about your pro bono work</p>
		</div>
	</div>
</section>

</article>


<!-- CTA -->
<section id="cta" class="cta">

	<header>
		<h2>Join us to create a personalized, data-driven pro bono
			program</h2>
	</header>
	<div class="voffset6">
		<a ui-sref="signup.userBase" class="button special navy"><span class="button-special-text">Start My Impact</span></a>
	</div>

</section>
</div>