<div class="no-image-page-wrapper">

	<article id="main" class="form-success">

		<header id="form-header" class="special container">
			<h1>FAQ</h1>
		</header>
		<section class="container special">
			<ul class="text-left bulleted-list">
				<li>What is Paladin’s mission?</li>
				<li class="inner-list-item">Paladin’s mission is to increase access to justice. By
							connecting high quality attorneys with personalized, vetted pro
							bono through a scalable technology platform, we seek to connect
							those in abundance with those in need in a XX, streamlined way.</li>
				<li>Why did we create Paladin?</li>
				<li class="inner-list-item">Paladin was inspired by the difficulty its co-founder and
							CEO faced as a lawyer looking for pro bono work. She envisioned a
							global pro bono marketplace that connects professionals with
							those in need, and technology allows us to maximize our ability
							to make meaningful change.</li>
				<li>How does Paladin work?</li>
				<li class="inner-list-item">Paladin is a marketplace that matches attorneys with
							personalized, vetted pro bono opportunities through partner
							nonprofits. The pro bono opportunities are delivered, using a
							matching algorithm and our in-house approval process, to lawyers
							interested in the opportunities. Enterprises and law firms pay a
							nominal membership fee to access the platform, and the service is
							complimentary for nonprofits.</li>
				<li>Why is Paladin a B Corp?</li>
				<li class="inner-list-item">We are more passionate about pro bono than profit. We
							decided to become a public benefit corporation (B Corp) so we
							could create a sustainable impact, and so we could avoid
							competing with the nonprofits we serve for funding. More
							generally, we’re excited about the rise in popularity of social
							enterprises and think they can be a powerful tool for good in the
							world.</li>
				<li>What locations does Paladin serve?</li>
				<li class="inner-list-item">We are currently partnering with organizations and
							individuals across the United States, and we are headquartered in
							New York City. To receive updates about our areas of operation,
							sign up to Stay in the Loop below.</li>
				<li>Does Paladin only work with certain causes?</li>
				<li class="inner-list-item">At Paladin, we are passionate about a variety of causes,
							and we know our partner institutions are too. That’s why we’re
							working with a wide range of nonprofits specializing in a variety
							of important issue areas. If you think we’ve missed an area
							you’re passionate about, let us know at Team@JoinPaladin.com.</li>
				<li>How does Paladin select its professionals?</li>
				<li class="inner-list-item">Paladin selects the lawyers it partners with with great
							care, ensuring it only works with lawyers capable of successfully
							representing pro bono clients. We do this by partnering with
							quality enterprises and screening their lawyers before connecting
							them with pro bono clients.</li>
				<li>How does Paladin select its pro bono opportunities?</li>
				<li class="inner-list-item">Paladin partners with nonprofits that are well
							established institutions in the community. This helps ensure that
							pro bono opportunities are vetted and the pro bono process runs
							smoothly to completion.</li>
			</ul>
		</section>
	</article>
</div>