<div id="wrapper">
	<div id="footer">
		<div class="footerFloat">
			<h4>GET STARTED</h4>
			<ul>
				<li><a ui-sref="lawyers">Lawyers</a></li>
				<li><a ui-sref="nonprofits">Nonprofits</a></li>
				<li><a ui-sref="enterprises">Enterprises</a></li>
				<li><a ui-sref="schools">Law Schools</a></li>
			</ul>
		</div>
		<div class="footerFloat">
			<h4>CONNECT</h4>
			<ul>
				<li><a href="https://www.facebook.com/Paladin-1668298390082848" target="_blank">Facebook</li>
				<li><a href="https://twitter.com/JoinPaladin" target="_blank">Twitter</li>
				<li><a href="https://www.linkedin.com/company/10400206" target="_blank">LinkedIn</li>
				<li><a href="https://medium.com/join-paladin" target="_blank">Medium</li>
			</ul>
		</div>
		<div class="footerFloat">
			<h4>ABOUT</h4>
			<ul>
				<li><a ui-sref="faq">FAQ</a></li>
				<li><a ui-sref="team">Team</a></li>
				<li><a href="mailto:team@joinpaladin.com">Contact Us</a></li>
				<li><a ui-sref="terms">Terms of Service</a></li>
				<li><a ui-sref="privacypolicy">Privacy Policy</a></li>
			</ul>
		</div>
		<div class="footerFloat">
			<!-- Begin MailChimp Signup Form -->
			<form
				action="//joinpaladin.us12.list-manage.com/subscribe/post?u=a88667af5f109bb228329f8c6&amp;id=25d872d0b3"
				method="post" id="mc-embedded-subscribe-form"
				name="mc-embedded-subscribe-form" class="validate" target="_blank"
				novalidate>
				<h4>STAY IN THE LOOP</h4>
				<div id="mailchimp-signup">
					<div id=mailchimp-email-input>
						<input type="email" value="" name="EMAIL" class="email text-input"
							id="mce-EMAIL" placeholder="email" required>
					</div>
					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;" aria-hidden="true">
						<input type="text" name="b_a88667af5f109bb228329f8c6_25d872d0b3"
							tabindex="-1" value="">
					</div>
					<div id="mailchimp-submit">
						<input type="submit" value="Subscribe" name="subscribe"
							id="mc-embedded-subscribe" class="button">
					</div>
				</div>
			</form>
		</div>

		<!--End mc_embed_signup-->
	</div>
	<div id="copyright"><span>2016 Paladin PBC, Inc., all rights reserved</span></div>
</div>
