<div id="page-wrapper">
	<!-- Banner -->
	<div id="banner">
		<img class="landing-image"
			src="resources/images/Optimized-landing.jpg" />
	</div>

	<!-- Main -->
	<article id="main">

		<header class="special container bottom-boarder">
			<h2>Paladin is pro bono, modernized.</h2>
			<div class="voffset5">
				<a ui-sref="signup.userBase" class="button special"><span class="button-special-text">Start My Impact</span></a>
			</div>
		</header>

		<section
			class="wrapper style1 container special bottom-boarder voffset4">
			<div class="row">
				<div class="col-md-3 subsection">

					<span class="icon featured fa-check"></span>
					<header>
						<h3>Lawyers</h3>
					</header>
					<div class="infographic">
						<img src="resources/images/Lawyers.svg" alt="" />
					</div>
					<p>Connect with causes you care about</p>
					<a ui-sref="lawyers" class="button special button-bottom-align"><span class="button-reg-text">Learn
						More</span></a>
				</div>
				<div class="col-md-3 subsection">
					<span class="icon featured fa-check"></span>
					<header>
						<h3>Enterprises</h3>
					</header>
					<div class="infographic">
						<img src="resources/images/Enterprise.svg" alt="" />
					</div>
					<p>Increase your impact and visibility</p>
					<a ui-sref="enterprises" class="button special button-bottom-align"><span class="button-reg-text">Learn
						More</span></a>
				</div>
				<div class="col-md-3 subsection">
					<span class="icon featured fa-check"></span>
					<header>
						<h3>Nonprofits</h3>
					</header>
					<div class="infographic">
						<img src="resources/images/Nonprofits.svg" alt="" />
					</div>
					<p>Expand your network of talented attorneys</p>
					<a ui-sref="nonprofits" class="button special button-bottom-align"><span class="button-reg-text">Learn
						More</span></a>
				</div>
				<div class="col-md-3 subsection">
					<span class="icon featured fa-check"></span>
					<header>
						<h3>Law Schools</h3>
					</header>
					<div class="infographic">
						<img src="resources/images/LawSchool.svg" alt="" />
					</div>
					<p>Build student skills and networks</p>
					<a ui-sref="schools" class="button special button-bottom-align"><span class="button-reg-text">Learn
						More</span></a>
				</div>
			</div>
		</section>

		<!-- Three -->
		<section class="wrapper style3 container special">

			<header class="major">
				<h2>Featured Causes</h2>
			</header>

			<div class="row voffset5">
				<div class="col-md-6">

					<section>
						<div class="featured-causes-box">
							<img src="resources/images/dogandcow.jpg" alt="" />
							<div class="featured-causes-overlay"></div>
							<div class="featured-causes-text">
								<header>
									<h4>Animals needing protection</h4>
								</header>
								<p>Help challenge the constitutionality of a state
									anti-sunshine law that deters whistleblowers from publishing
									information about factory farming practices</p>
							</div>
						</div>
					</section>

				</div>
				<div class="col-md-6">
					<section>
						<div class="featured-causes-box">
							<img src="resources/images/domesticviolence.jpeg" alt="" />
							<div class="featured-causes-overlay"></div>
							<div class="featured-causes-text">
								<header>
									<h4>Domestic violence survivors</h4>
								</header>
								<p>Shane, a domestic violence survivor, needs pro bono help
									to obtain a civil protection order against his abusive spouse</p>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div class="row voffset4">
				<div class="col-md-6">
					<section>
						<div class="featured-causes-box">
							<img src="resources/images/children.jpeg" alt="" />
							<div class="featured-causes-overlay"></div>
							<div class="featured-causes-text">
								<header>
									<h4>Immigration court</h4>
								</header>
								<p>Lucia, age 12, is currently in deportation proceedings
									and needs a lawyer to help her obtain Special Immigrant
									Juvenile Status</p>
							</div>
						</div>
					</section>

				</div>
				<div class="col-md-6">
					<section>
						<div class="featured-causes-box">
							<img src="resources/images/entrepreneurs.jpg" alt="" />
							<div class="featured-causes-overlay"></div>
							<div class="featured-causes-text">
								<header>
									<h4>Low income entrepreneurs</h4>
								</header>
								<p>A music startup is looking for help to file its formation
									documents to become a 501(c)(3)</p>
							</div>
						</div>
					</section>

				</div>
			</div>

		</section>

	</article>

	<!-- CTA -->
	<section id="cta" class="cta">
		<header>
			<h2>The access to justice gap isn’t going to close itself.</h2>
		</header>
		<footer>
			<ul class="buttons">
				<li><a ui-sref="signup.userBase" class="button special navy"><span class="button-special-text">Start My Impact</span></a></li>
			</ul>
		</footer>

	</section>
</div>