<div id="page-wrapper">
	<div id="banner">
		<img class="landing-image" src="resources/images/Optimized-lawyers.jpeg" />
	</div>

	<!-- Main -->
	<article id="main">

		<header class="special container text-center bottom-boarder">
			<h2>Why did you become a lawyer?</h2>
			<div class="voffset5">
				<a ui-sref="signup.userBase" class="button special"><span class="button-special-text">Start My Impact</span></a>
			</div>
		</header>

		<section class="wrapper style3 container special bottom-boarder">

			<header class="major">
				<h2>Why Paladin?</h2>
			</header>

			<div class="row">
				<div class="col-md-6">
					<div class="info-box">
					<div class="opaque-image-wrap">
						<img src="resources/images/impact.jpeg" alt="" />
						</div>
						<div class="info-box-inner">
						<header>
							<h2 class="voffset4">Impact</h2>
						</header>
						<p class="voffset4">Make a difference in causes you care about</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="info-box">
					<div class="opaque-image-wrap">
						<img src="resources/images/time.jpeg" alt="" />
						</div>
						<div class="info-box-inner">
						<header>
							<h2 class="voffset4">Time</h2>
						</header>
						<p class="voffset4">Save time spent finding pro bono </p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="info-box">
					<div class="opaque-image-wrap">
						<img src="resources/images/career.jpeg" alt="" />
						</div>
						<div class="info-box-inner">
						<header>
							<h2 class="voffset4">Career build</h2>
						</header>
						<p class="voffset4">Build valuable skills and a network that will boost your career</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="info-box">
					<div class="opaque-image-wrap">
						<img src="resources/images/support.jpeg" alt="" />
						</div>
						<div class="info-box-inner">
						<header>
							<h2 class="voffset4">Support</h2>
						</header>
						<p class="voffset4">Represent clients more effectively and efficiently</p>
						</div>
					</div>
				</div>
			</div>

		</section>

		<section class="wrapper style1 container special">
			<header class="major">
				<h2>How Paladin works</h2>
			</header>
			<div class="row">
				<div class="col-md-4 subsection">
					<span class="icon featured fa-check"></span>
					<header>
						<h3>Share</h3>
					</header>
					<div class="infographic"><img
							src="resources/images/ShareLawyers.svg" alt="" /></div>
					<p>Tell us about your interests, availability and expertise</p>
				</div>
				<div class="col-md-4 subsection">
					<span class="icon featured fa-check"></span>
					<header>
						<h3>Discover</h3>
					</header>
				<div class="infographic"><img
							src="resources/images/Lawyers.svg" alt="" /></div>
					<p>Receive personalized opportunities right to your inbox</p>
				</div>
				<div class="col-md-4 subsection">
					<span class="icon featured fa-check"></span>
					<header>
						<h3>Impact</h3>
					</header>
					<div class="infographic"><img
							src="resources/images/Impact.svg" alt="" /></div>
					<p>With the legwork done, you can focus on your impact</p>
				</div>
			</div>
		</section>

	</article>


	<!-- CTA -->
	<section id="cta" class="cta">

		<header>
			<h2>Join us to receive personalized impact opportunities</h2>
		</header>
		<div class="voffset6">
			<a ui-sref="signup.userBase" class="button special navy"><span class="button-special-text">Start My Impact</span></a>
		</div>

	</section>
</div>