<div id="page-wrapper">
	<div id="banner">
		<img class="landing-image"
			src="resources/images/Optimized-nonprofit-banner.jpeg" />
	</div>
	<!-- Main -->
	<article id="main">

		<header class="special container text-center bottom-boarder">
			<h2>How can pro bono boost your impact?</h2>
			<div class="voffset5">
				<a ui-sref="signup.userBase" class="button special"><span class="button-special-text">Start My Impact</span></a>
			</div>
		</header>

		<section class="wrapper style3 container special bottom-boarder">

			<header class="major">
				<h2>Why Paladin?</h2>
			</header>

			<div class="row">
				<div class="col-md-6">
					<div class="info-box">
						<div class="opaque-image-wrap">
							<img src="resources/images/access.jpeg" alt="" />
						</div>
						<div class="info-box-inner">
							<header>
								<h2 class="voffset4">Access</h2>
							</header>
							<p class="voffset4">Reach more attorneys who are passionate
								about your mission</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="info-box">
						<div class="opaque-image-wrap">
							<img src="resources/images/exposure.jpeg" alt="" />
						</div>
						<div class="info-box-inner">
							<header>
								<h2 class="voffset4">Exposure</h2>
							</header>
							<p class="voffset4">Access a large network to increase
								visibility</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="info-box">
						<div class="opaque-image-wrap">
							<img src="resources/images/efficiency.jpg" alt="" />
						</div>
						<div class="info-box-inner">
							<header>
								<h2 class="voffset4">Efficiency</h2>
							</header>
							<p class="voffset4">Attorney placement and client
								interactions run more smoothly</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="info-box">
						<div class="opaque-image-wrap">
							<img src="resources/images/support.jpeg" alt="" />
						</div>
						<div class="info-box-inner">
							<header>
								<h2 class="voffset4">Support</h2>
							</header>
							<p class="voffset4">Support to ensure cases are completed
								effectively and efficiently</p>
						</div>
					</div>
				</div>
			</div>

		</section>

		<section class="wrapper style1 container special">
			<header class="major">
				<h2>How Paladin works</h2>
			</header>
			<div class="row">
				<div class="col-md-4 subsection">
					<span class="icon featured fa-check"></span>
					<header>
						<h3>Share</h3>
					</header>
					<div class="infographic">
						<img src="resources/images/ShareNonprofit.svg" alt="" />
					</div>
					<p>Tell us about your pro bono process and available
						opportunities</p>
				</div>
				<div class="col-md-4 subsection">
					<span class="icon featured fa-check"></span>
					<header>
						<h3>Partner</h3>
					</header>
					<div class="infographic">
						<img src="resources/images/ConnectPartnerEngage.svg" alt="" />
					</div>
					<p>Receive quality lawyers passionate about your cases</p>
				</div>
				<div class="col-md-4 subsection">
					<span class="icon featured fa-check"></span>
					<header>
						<h3>Impact</h3>
					</header>
					<div class="infographic">
						<img src="resources/images/Impact.svg" alt="" />
					</div>
					<p>With the help you need, you can focus on maximizing your
						impact</p>
				</div>
			</div>
		</section>

	</article>


	<!-- CTA -->
	<section id="cta" class="cta">

		<header>
			<h2>Join us to expand your network of talented attorneys</h2>
		</header>
		<div class="voffset6">
			<a ui-sref="signup.userBase" class="button special navy"><span class="button-special-text">Start My Impact</span></a>
		</div>

	</section>
</div>