<div class="no-image-page-wrapper">

	<article id="main" class="form-success">

		<header id="form-header" class="special container">
			<h1>Privacy Policy</h1>
		</header>
		<section class="container special">
			<h3 class="text-left">THE INFORMATION WE COLLECT</h3>
			<p class="text-left">REGISTRATION</p>
			<p class="text-left">If you register to sell or obtain services
				through Paladin we collect and store personal information that you
				submit to set up your account and profile including first and last
				name, address, phone number, e-mail information, valid financial
				information, work history and experience and work preferences. We
				may also ask you to submit banking/ financial information to either
				make payments or accept payments for your work. Banking and
				financial information is encrypted and transmitted via 2048-bit
				encryption for your protection. We will not sell, share or sell any
				Personal Information with third parties in any way other than what
				is disclosed in this policy.</p>

			<p class="text-left">SERVICE PROVIDERS AND AGENTS</p>

			<p class="text-left">We use credit card and other payment
				processing companies to bill you for goods and services and email
				marketing companies to send emails from Paladin to opt-in users. We
				will share your Personal Information as necessary for third parties
				to provide these services. These companies do not retain, share,
				store or use personal information for any purposes other than those
				necessary to complete these services as contracted by Paladin.</p>
			<h3 class="text-left">HOW WE USE THIS INFORMATION</h3>
			<p class="text-left">This information is used to aid in the
				provisions of our various products and services, including customer
				service, accounting, billing, collections and the marketing of other
				products services.</p>

			<p class="text-left">Paladin may use aggregate or anonymous
				information for various uses for itself and third parties.</p>

			<p class="text-left">WHO WE SHARE THIS INFORMATION WITH</p>

			<p class="text-left">Paladin does not share personal information
				with any third parties except as disclosed in this policy. Paladin
				may provide personal information to Paladin subcontractors,
				professional advisers and third parties that work on behalf of or
				with Paladin to provide you with the services of this site or to
				help us communicate with you or maintain the site.</p>
			<p class="text-left">Although we currently do not have a parent
				company, any subsidiaries, joint ventures or other companies under a
				common control (collectively, “Affiliates”), we may in the future.
				We may share some or all of your Personal Information with these
				Affiliates, in which case we will require our Affiliates to honor
				this Privacy Policy.</p>
			<p class="text-left">PUBLIC INFORMATION</p>
			<p class="text-left">As part of registration, you may set up a
				Profile describing your experience, licenses and qualifications. To
				become a member and either apply for projects or post projects you
				must create a profile with information about yourself, experience,
				licenses and qualification and work preferences or about your firm,
				company or organization and the projects that you wish to post. This
				Information in your Profile is available for any other registered
				User to access. We will not have any obligation under this Privacy
				Policy with respect to information in your Profile or information
				you voluntarily provide to other Users via the Site.</p>
			<p class="text-left">SECURITY</p>
			<p class="text-left">Personal information is stored in a
				combination of personal and electronic files. Electronic information
				transmitted through the site is secured by 2048-bit SSL. All
				passwords are encrypted with state of the art algorithms.</p>
			<p class="text-left">ACCESSING INFORMATION</p>
			<p class="text-left">Individuals may review their personal
				information contained in Paladin’s files by contacting
				team@joinpaladin.com. If an individual believes that any of their
				personal information is inaccurate, we will make the appropriate
				corrections.</p>
			<p class="text-left">COOKIES</p>
			<p class="text-left">Cookies are used by Paladin for the
				convenience of our users. Cookies automatically authenticate the
				user. A user can access the Paladin site with the cookie feature
				turned off. However, in doing so they may find themselves challenged
				for username and password information on multiple occasions. Paladin
				also uses cookies to track users’ visits and uses that information
				to improve the users’ experience.</p>
			<p class="text-left">LINKS</p>
			<p class="text-left">The Paladin Web site may contain links to
				information at other Web sites. When you click on one of these
				links, you are moving to another Web site. We encourage you to read
				the privacy statements of these linked sites as their privacy policy
				may differ from ours.</p>
		</section>
	</article>
</div>