<div class="no-image-page-wrapper">
	<article id="main" class="form-success" ng-show="!success">
		<header id="form-header" class="special container">
			<h2>Reset Password</h2>
			<p ng-show="data != ''">
				Welcome <span ng-bind="data.user.email"></span>! Fill out the form
				below to reset your password.
			</p>
			<p ng-show="data == ''">This link is no longer valid to complete
				your request.</p>
		</header>
		<header id="form-header" class="special container" ng-show="success">
			<h2>Reset Password</h2>
			<p ng-show="data != ''">
				Welcome <span ng-bind="data.user.email"></span>! Fill out the form
				below to reset your password.
			</p>
			<p ng-show="data == ''">This link is no longer valid to complete
				your request.</p>
		</header>
		<section class="container special signup-wrapper" ng-show="data != ''">
			<form id="signup-form" ng-submit="processForm()">
				<div class="form-group">
					<input type="password" class="form-control text-input"
						placeholder='New Password' name="email" ng-model="password"
						required>
				</div>
				<div class="form-group">
					<input type="password" class="form-control text-input"
						placeholder='Confirm Password' name="email"
						ng-model="confirmPassword" required>
				</div>
				<div class="error-msg">
					<p ng-show="error">Passwords don't match!</p>
				</div>
				<div class="form-submit">
					<button type="submit" class="button special">Submit</button>
				</div>

			</form>
		</section>
	</article>

	<article id="main" class="form-success" ng-show="success">
		<header id="form-header" class="special container">
			<h2>Success!</h2>
			<p ng-show="data != ''">Your password has been changed.</p>
		</header>
	</article>
</div>