<div id="page-wrapper">
	<div id="banner">
		<img class="landing-image" src="resources/images/lawschool.jpeg" />
	</div>
	<!-- Main -->
	<article id="main">

		<header class="special container text-center bottom-boarder">
			<h2>What’s your community footprint?</h2>
			<div class="voffset5">
				<a ui-sref="signup.userBase" class="button special"><span class="button-special-text">Start My Impact</span></a>
			</div>
		</header>

		<section class="wrapper style3 container special bottom-boarder">

			<header class="major">
				<h2>Why Paladin?</h2>
			</header>

			<div class="row">
				<div class="col-md-6">
					<div class="info-box">
						<div class="opaque-image-wrap">
							<img src="resources/images/teach.jpeg" alt="" />
						</div>
						<div class="info-box-inner">
							<header>
								<h2 class="voffset4">Teach</h2>
							</header>
							<p class="voffset4">Give students hands-on case experience</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="info-box">
						<div class="opaque-image-wrap">
							<img src="resources/images/track.jpeg" alt="" />
						</div>
						<div class="info-box-inner">
							<header>
								<h2 class="voffset4">Track</h2>
							</header>
							<p class="voffset4">Track data, stories, and outcomes with
								our easy admin dashboard</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="info-box">
						<div class="opaque-image-wrap">
							<img src="resources/images/marketing.jpeg" alt="" />
						</div>
						<div class="info-box-inner">
							<header>
								<h2 class="voffset4">Marketing</h2>
							</header>
							<p class="voffset4">Effortlessly gather authentic success
								stories</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="info-box">
						<div class="opaque-image-wrap">
							<img src="resources/images/recruitment.jpeg" alt="" />
						</div>
						<div class="info-box-inner">
							<header>
								<h2 class="voffset4">Recruitment</h2>
							</header>
							<p class="voffset4">Attract top talent who value giving back</p>
						</div>
					</div>
				</div>
			</div>

		</section>

		<section class="wrapper style1 container special">
			<header class="major">
				<h2>How we work</h2>
			</header>
			<div class="row">
				<div class="col-md-4 subsection">
					<span class="icon featured fa-check"></span>
					<header>
						<h3>Engage</h3>
					</header>
					<div class="infographic">
						<img src="resources/images/ConnectPartnerEngage.svg" alt="" />
					</div>
					<p>Your students receive personalized pro bono that suits their
						interests, availability and backgrounds</p>
				</div>
				<div class="col-md-4 subsection">
					<span class="icon featured fa-check"></span>
					<header>
						<h3>Track</h3>
					</header>
					<div class="infographic">
						<img src="resources/images/Track.svg" alt="" />
					</div>
					<p>Using Paladin’s admin dashboard, you can track and tailor
						pro bono activities to effortlessly support and guide their pro
						bono efforts</p>
				</div>
				<div class="col-md-4 subsection">
					<span class="icon featured fa-check"></span>
					<header>
						<h3>Network and Share</h3>
					</header>
					<div class="infographic">
						<img src="resources/images/boost.svg" alt="" />
					</div>
					<p>Paladin helps you share inspiring content about your
						students’ work and expand the University network</p>
				</div>
			</div>
		</section>
	</article>


	<!-- CTA -->
	<section id="cta" class="cta">

		<header>
			<h2>Join other incredible law schools as they promote and
				measure tangible, hands-on experience!</h2>
		</header>
		<div class="voffset6">
			<a ui-sref="signup.userBase" class="button special navy"><span class="button-special-text">Start My Impact</span></a>
		</div>

	</section>
</div>