<div class="no-image-page-wrapper">

	<article id="main">

		<header id="form-header" class="special container">
			<h2>Team</h2>
		</header>

		<section class="wrapper style1 container special voffset4">
			<div class="row team-row text-right">
				<div class="col-md-9">
					<header>
						<h3>Felicity Conrad</h3>
						<p>Co-Founder, CEO</p>
					</header>
					<div>
						<p>Before starting Paladin, Felicity was an Associate at
							Skadden and worked with the United Nations on International
							Criminal Court issues. She is deeply passionate about social
							justice, nurtured by human rights experiences in East Africa,
							China and Haiti and pro bono work at Skadden. Right now Felicity
							is excited to use Paladin to find herself a human trafficking pro
							bono case so she can start her impact.</p>
					</div>
				</div>
				<div class="col-md-3">
					<section>
						<div class="outer-image-wrapper">
							<div>
								<div class="image featured">
									<img src="resources/images/felicity.jpg" alt="" />
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div class="row team-row text-left">
				<div class="col-md-3">
					<section>
						<div class="outer-image-wrapper">
							<div>
								<div class="image featured">
									<img src="resources/images/kbad.jpg" alt="" />
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="col-md-9">
					<header>
						<h3>Kristen Sonday</h3>
						<p>Co-Founder, COO</p>
					</header>
					<div>
						<p>Kristen worked on international criminal cases for the U.S.
							Department of Justice before joining Grouper (YC alum) as a
							founding member. As a Latina passionate about serving
							underrepresented groups, she is excited about using technology to
							scale access to justice! Kristen’s personal pro bono projects
							include mentoring student led start-ups via Almaworks, a
							Columbia-based accelerator program.</p>
					</div>
				</div>
			</div>
			<div class="row team-row text-right">
				<div class="col-md-9">
					<header>
						<h3>Christina Crosetti</h3>
						<p>Head of Legal Partnerships</p>
					</header>
					<div>
						<p>After attending law school, Christina moved into the tech
							startup world, joining an early team at Operator in the startup
							studio, Expa. After spending a few years helping Operator build
							out their strategic partnerships, she joined Paladin. Here,
							Christina combines her longtime passion for community involvement
							with her legal background and startup experience. She has spent
							many years tutoring and mentoring disadvantaged youth, and is
							also an active member of Amnesty International.</p>
					</div>
				</div>
				<div class="col-md-3">
					<section>
						<div class="outer-image-wrapper">
							<div>
								<div class="image featured">
									<img src="resources/images/christina.jpg" alt="" />
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</section>
	</article>
</div>
